@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    text-decoration: none;
    cursor:pointer
}

html{
    scroll-behavior: smooth;
}

li{
    list-style-type: none;
    display: inline;
}
   
nav{
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}



.nav__link--side{
    left: 25%;
}
    

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.personal__logo{
   margin-top: 25%;
   font-size: 25px;
   font-style: bold;
   font-weight: bolder;
   color:#251af2ed
    
}

.logo{
    width: 100px;
    height: 10px;
}

.image__logo{
  width: 120px;
  height: 120px;
  max-width: 1200px;
  padding: 0 24px;
  margin-right: 50%;
  margin: 0 auto;
  

}

.heading__img-title{
    display: flex;
   justify-content: flex-end;
   align-items: flex-start;
    
    
}

.nav__link--contain{
    float: right;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px; 
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.nav__container{
    display: flex;
}

.nav__link--anchor{
    background-color: #3f36e9ed;;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}
.nav__link--anchor-primary{
background-color: #3f36e9ed;;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor {
    margin: 0 12px;
    color: white;
    text-decoration: none;
    font-weight: 700; 
}

.nav__link--header-primary{
display: inline;
justify-content: space-between;
}

.nav__link--right{
    justify-content: space-between;
    margin-left: 80px;
}

.nav__links{
    justify-content: space-between;
margin-right: 60px;
}



/*

Header

*/

.header__container{
margin-left: 10px;
}

.header__description{
display: flex;
flex-direction: column;
text-align: left;
margin-top: 80px;
font-size: 28px;
padding: 10px 24px 0 24px;
}

.header__sub--para{
font-size: 18px;
font-weight: 100;
margin-top: 10px;
margin-bottom: 25px;
color:rgb(164, 170, 178);

}

.purple{
    color:#3f36e9ed;
}

.btn{
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    display: flex;
    width: 300px;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.email__btn{
    padding: 10px 24px 0 24px;

}

.email__box{
    width: 300px;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    margin-top: 20px;

}

.background__coding--image{
    height: 400px;
    max-width: 1200px;
    width: 750px;
    margin-left: 100px;
    margin-bottom: 45px;
    position: absolute;
left: 28%;
top: 45%;
}

.customer__logo{
    margin-top: 10px;

}

.customer__logo--img{
    max-width: 1200px;
    height: 25px;
  
    
}

.logo__text{
font-size: large;
color: rgb(164, 170, 178);
justify-content: center;
display: block;
margin-top: 100px;
padding-bottom: 10px;
}

/*

Features

*/



.features__title{
font-size: large;
color: #3f36e9ed;
margin-top: 225px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.features__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: black;
    font-weight: bold;
    font-size: 44px;
}

.features__subtitle--para{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(164, 170, 178);
    font-weight: 1px;
    font-size: 10px;
}

.red{
    color: red;
}

.blue{
    color: pink;
}

.orange{
    color:forestgreen
}

/*

HIGHLIGHTS

*/

.highlight{
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 75px;
  width:calc(100%/3)
}

.highlight__img{
    border:3px solid;
    border-radius: 50%;
    color: #3f36e9ed;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    opacity: 1px;
    left: 25% !important;
    
}

.highlight__subtitle{
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
    color: rgb(68, 64, 64);
}

.highlight__para{
    text-align: center;
    max-width: 280px;
    font-size:14px;
    color: rgb(164, 170, 178);
}

.block{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#highlight{
    position: relative;
}


/*

QUALITY

*/

.quality__title{
padding: 0 0 16px;
margin-top: 150px;
font-size: 16px;
color: #3f36e9ed;
margin-bottom: 15px;
}

.quality_subtitle{
    max-width: 1200px;
    font-size: 52px;
    color: rgb(68, 64, 64);
}


.quality__img--treact{
height: 325px;
width: 520px;
max-width: 1200px;
position: relative;
border:3px solid;
border-color: rgb(164, 170, 178);
padding: 0 24px;
left: 59%;
top: -335px;
margin: 0 auto;
border-radius: 30px;

}

.quality__para{
    color: rgb(164, 170, 178);
    font-size: 18px;
    padding: 0;
    margin-top: 15px;
}

.btn__quality{
    margin-top: 30px;
}

/*

STEPS

*/

.steps__get--started{
    text-align: right;
   display: flex;
 flex-direction: column;
    
    
}

.comp__img{
    width: 50%;
    max-width: 1200px;
    margin-bottom: 50px;
    margin-top: -10%;

}


.steps__header{
   text-align: right;
   display: flex;
   flex-direction: column;
   position: relative;
   float: right;
   margin-top: -480px;  
}
 
.steps__1{
    font-size: 16px;
    color: #3f36e9ed;
}

.steps__2{
    color: rgb(0, 0, 0);
    padding-bottom: 5%;
    padding-top: 5%;
   
}

.steps__list{
    font-size: 18px;
color: #3f36e9ed;

}

.white{
    color: #3f36e9ed;

}

.steps__run--para{
    padding-top: -5%;
}

.steps__register{
    font-size: 24px;
    font-weight: bolder;
    color: #3f36e9ed; 
    
}

.steps__download{
    font-size: 24px;
    font-weight: bolder;
    color: #3f36e9ed; 
}

.steps__run{
    font-size: 24px;
    font-weight: bolder;
    color: #3f36e9ed; 
}



/*

VALUES

*/

.value__title{
 padding: 0 0 16px;
margin-top: 150px;
font-size: 16px;
color: #3f36e9ed;
margin-bottom: 15px;
}


.value__para{
    color: rgb(164, 170, 178);
    font-size: 18px;
    padding: 1%;
    margin-top: 15px;
    margin-bottom: 3%;
    margin-left: 1%;
   
}

.affordable__title{
    margin-bottom: 1%;
    color: #3f36e9ed;
    margin-left: 8%;
    font-size: 24px;

}

.affordable__para{
    color: rgb(164, 170, 178);
    margin-left: 19%;
    font-size: 16px;
}

.Professionalism__title{
    margin-bottom: 1%;
    margin-top:2%;
    color: #3f36e9ed;
    margin-left: 6%;
    font-size: 24px;
    
}

.Professionalism__para{
    color: rgb(164, 170, 178);
    margin-left: 8%;
    font-size: 16px;
    margin-top: 5%
    ;
    
}

.value__subtitle{
    max-width: 1200px;
    font-size: 52px;
    color: rgb(68, 64, 64);
    margin-left: 2%;
}

.value__title{
    margin-left: 2%;
}


 .value__btn--quality{
margin-left: 1%;
margin-top: 4%;
    }

.value__img--treact{
    height: 325px;
    width: 520px;
    max-width: 1200px;
    position: relative;
    border:3px solid;
    border-color: rgb(164, 170, 178);
    padding: 0 24px;
    left: 58%;
    top: -455px;
    margin: 0 auto;
    border-radius: 30px;
    
    }

    .affordable__img{
        margin-top: -1%;
        margin-bottom: 2%;
        margin-left: 1%;
    }

    .pro__img{
        margin-left: 2%;
        margin-top: 2%;
    }

    .aff__wrap{
display: flex;
align-items:center;
margin-right: 700px;
padding-left: 5px;
    }

    .pro__wrap{
        display: flex;
align-items:center;
margin-right: 700px;
padding-left: 5px;
    }


/*

PRICING

*/

.three__plans{
    
    position: relative;
    margin-top: 4rem;
    margin-left: 1%;
    display: flex;
    width: 100%;
    max-width: 28rem;
    flex-direction: column;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-left: 2px;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(26 32 44 / var(--tw-text-opacity));
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}



.plan{
    display: flex;
    flex-direction: row;
    margin-bottom: 25%;
}


.template__title{
    
    margin-top: 1%;
    margin-bottom: 4%;
    color: rgb(164, 170, 178);

}

.page__title{
    margin-top: 1%;
    margin-bottom: 4%;
    color: rgb(164, 170, 178);
}

.landing__title{
color: rgb(164, 170, 178);;
    margin-top: 1%;
    margin-bottom: 4%;
}

.assistance__title{
    margin-top: 5%;
    margin-bottom: 4%;
    color:rgb(164, 170, 178);
}

.assistance__title-2{
    margin-bottom: 80px;
}

.basic__assistance--title{
    margin-bottom: 75px;
}

.plan__one-color{
    background-image: linear-gradient(to bottom right, rgb(5, 4, 4), rgb(65, 229, 229));

}

.price__title{
    font-size: large;
color: #3f36e9ed;
margin-top: -100px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.price__subtitle{
padding: 10px;
color: black;
justify-content: center;
align-items: center;
display: flex;
margin-bottom: 2%;
font-size: 52px
}

.personal__assistance{
    margin-bottom: 75px;
}

.enterprise__title{
    margin-top: 40px;
}

.plan__3{
    background-image: linear-gradient(to bottom right, rgb(255, 226, 2), rgb(65, 229, 68));
    margin-right: 1%;
}

.plan__features-para{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: var(--tw-empty,/*!*/ /*!*/);
    --tw-pan-y: var(--tw-empty,/*!*/ /*!*/);
    --tw-pinch-zoom: var(--tw-empty,/*!*/ /*!*/);
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: var(--tw-empty,/*!*/ /*!*/);
    --tw-slashed-zero: var(--tw-empty,/*!*/ /*!*/);
    --tw-numeric-figure: var(--tw-empty,/*!*/ /*!*/);
    --tw-numeric-spacing: var(--tw-empty,/*!*/ /*!*/);
    --tw-numeric-fraction: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(66 153 225 / 0.5);
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);

}

.personal__title{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2px;
    margin-top: 2px;
    line-height: 1.625;
    color:black
}

.business__title{
    margin-top: 40px;
   
    
}


.person__title-2{
    margin-top: 5px;
}

.personal__subtitle{
    margin-top: 4%;
    color: white;
}

.monthly__title{
    margin-top: 3%;
    font-size: 17px;
    color:rgb(164, 170, 178);

}

.price_para{
    font-size: 18px;
    color: rgb(164, 170, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__1{
    margin-top: -30px;
    
}

.btn__pricing{

    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 80%;
    max-width: 1200px;
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 9999px;
    margin-bottom: 9%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    margin-left: 6.5%;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: var(--tw-empty,/*!*/ /*!*/);
    --tw-pan-y: var(--tw-empty,/*!*/ /*!*/);
    --tw-pinch-zoom: var(--tw-empty,/*!*/ /*!*/);
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: var(--tw-empty,/*!*/ /*!*/);
    --tw-slashed-zero: var(--tw-empty,/*!*/ /*!*/);
    --tw-numeric-figure: var(--tw-empty,/*!*/ /*!*/);
    --tw-numeric-spacing: var(--tw-empty,/*!*/ /*!*/);
    --tw-numeric-fraction: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(66 153 225 / 0.5);
    --tw-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
    --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-blur: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-brightness: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-contrast: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-grayscale: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-invert: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-opacity: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-saturate: var(--tw-empty,/*!*/ /*!*/);
    --tw-backdrop-sepia: var(--tw-empty,/*!*/ /*!*/);
}

.plan__2{
    background-image: linear-gradient(to bottom right, #3f36e9ed, rgb(245, 0, 0));

    
}

/*

FAQ

*/



.faq__title{
font-size: large;
color: #3f36e9ed;
margin-top: -100px;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.faq__subtitle{
padding: 10px;
color: #3f36e9ed;
justify-content: center;
align-items: center;
display: flex;
margin-bottom: 2%;
font-size: 52px

}

.faq__para{
    font-size: 18px;
    color: rgb(164, 170, 178);
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  color: #333;
  background: #fcfcfc;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.faq-header{
  font-size: 24px;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
  margin-top: 4%;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.faq-content {
  margin: 0 auto;
  margin-bottom: 8%;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
  color: #3f36e9ed;
  font-family: 'Roboto', sans-serif;
}

/*

FAQ LIST

*/


.panel-title {
  font-size: 24px;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 20px;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 42px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

.faq-content{
    color: #3f36e9ed;
}

/*

FOOTER 

*/


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }

.footer{
    background-image: linear-gradient(to bottom right, #3f36e9ed, rgb(245, 0, 0));
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }





    /* SMALL PHONES, TABLETS, LARGE SMARTPHONES */ 
CHANGE CLASS NAMES 

@media (max-width: 768px) {
    .header__description {
      padding: 0 24px;
      
    }
  
    h1{
      font-size: 40px;
    }
  
    h2{
      font-size: 26px;
    }
  
    button{
      font-size: 18px;
    }
  
    .book{
      width: 49%;
    }
  }
  
  
  
  /*SMALL PHONES, LARGE PHONES */
  
  @media (max-width: 550px) {
    .nav__links {
      display: none;
    }
  
    .btn__menu{
      display: block;
    }
  
  
    .highlight{
      width: 100%;
      margin-bottom: 20px;
    }
  }